[2014-09-19 02:14] Dimtar opened #115 "Changing forum link"
There used to be a way to change the forum link but this seems to have been deprecated. There needs to be a way to customize that link especially since it currently goes no where.

[2014-12-30 00:18] DoctorWaffles opened #127 "Can't seem to change the season dates"
All my season dates seem to be static and everytime I try to change them (backend) they keep changing back to January 01, 1970.

[2015-01-02 13:03] Linusscout opened #128 "Forgot Password?"
Hello,

the link to the "Forgot Password?" site is broken ... the page rout me to http://www.mdloring.com/ezleague/forget.php

[2015-01-02 13:06] Linusscout opened #129 "Imprint page"
Hello

can you add a Imprint page and a editor in the ACP for this page? A Imprint it's very important :)

[2015-01-02 16:15] stoopkid1 commented on #129
Linus, I'm not sure what you're asking for. I don't know what a "imprint
page" or what "acp page" you're referring to

On Fri, Jan 2, 2015 at 7:06 AM, Linusscout <notifications@github.com> wrote:

--
Michael Loring
Wrapports Developer
The Chicago Sun-Times Media Company

President
Loring Enterprises

cell:         773 870 5442
http://www.mdloring.com

[2015-01-03 12:30] Linusscout commented on #129
Sorry i mean a "Impressum" page :)

[2015-01-05 07:36] stoopkid1 commented on #129
@Linusscout i still don't know what page you are referring to. please link me to it

[2015-01-05 20:25] welaughindoors opened #130 "Registration"
I have setup, and installed ezleague, the install appeared successful, everything seemed to be working fine on my end until I attempted to register a normal account. It seems to be unresponsive, filling in the required fields and pressing submit does absolutely nothing.

Any suggestions or ideas on how to fix this issue? I feel like this is somehow related to the database, but do not have enough k

[2015-01-09 12:55] Linusscout commented on #129
Hello ..

a Imprint or Impressum page is this:

http://www.gamewrap.de/impressum/

All User with a .de Domain needs this.

[2015-01-09 13:00] Linusscout opened #131 "Friends can see the mail addy"
Hello

User can see the email address of friends. We Should be able to configure this security setting.

[2015-01-12 03:45] stoopkid1 commented on #129
@Linusscout ohhh an "About" page....yes. i can add one of those. stay tuned for the update

[2015-01-12 03:46] stoopkid1 commented on #131
@Linusscout i'll add that as a setting. originally, the email addy was hidden even for friends, but there was a request to have it shown.

[2015-01-12 03:47] stoopkid1 commented on #130
@welaughindoors could you please link me to your site? it's possible there is a database issue, but it could also be a jQuery / JavaScript error

[2015-01-12 03:48] stoopkid1 commented on #128
@Linusscout i'll get this feature added asap

[2015-01-14 03:37] welaughindoors commented on #130
sure, http://bsgl.us/league/

[2015-01-14 03:51] stoopkid1 commented on #130
@welaughindoors a 500 Internal Server Error is being returned from the `submit.php` file when trying to register. would you be able to post your PHP error log? there should be mention of the error in the log file

[2015-01-14 11:16] Schamus opened #132 "Registration remains open past registration date"
Teams are still able to register for leagues after the listed registration end date.

[2015-01-15 21:40] welaughindoors commented on #130
Certainly:

[Sun Jan 11 06:39:49.238126 2015] [mpm_prefork:notice] [pid 16830] AH00163: Apache/2.4.7 (Ubuntu) PHP/5.5.9-1ubuntu4.5 configured -- resuming normal operations
[Sun Jan 11 06:39:49.238151 2015] [core:notice] [pid 16830] AH00094: Command line: '/usr/sbin/apache2'
[Sun Jan 11 08:01:34.146150 2015] [:error] [pid 7878] [client 108.162.245.163:18484] script '/var/www/html/challenge.php' not

[2015-01-16 01:59] stoopkid1 commented on #130
@welaughindoors perfect, thanks for the error log. the issue is the `mcrypt` library/extension is not installed. this should help you here to enable it: http://stackoverflow.com/questions/12479983/cant-find-mcrypt-call-to-undefined-function-laravel-mcrypt-create-iv

very simple to do. once you've updated your `php.ini` file, restart your web server and you'll be all set. if you are unable to resta

[2015-03-01 01:40] agreements opened #133 "mysql database"
Possible to get the mysql database dumb? Would be helpful since my browser doesn't do anything except writing error msg.

Warning: mysqli_fetch_assoc() expects parameter 1 to be mysqli_result, boolean given in /home/www/myweb/lib/class-db.php on line 46
No news items to display
etc etc.

[2015-03-02 02:15] stoopkid1 commented on #133
@agreements i don't have any demo data to provide.once you create a news post, that error will go away.

[2015-03-11 11:26] cirodalex opened #134 "Teams?"
Hi, thank you for this great work :)
I want to use your app to manage FIFA league and FIFA tournaments.
Installation and configuration it's very easy, I Have only an error in \admin\header.php on line 31 regarding date function but doesn't matter now.
I see the teams was suspended, it's because you're working on it? I also see in my db there is no ezlteams table.
I hope you will give me notice abo

[2015-03-11 12:06] zigstum commented on #134
The error goes away once you have entered your current timezone in the admin area.
The teams are not suspended (as far as I can tell), that little red box icon is just to show you what it looks like when a team is suspended.
I think the table you are expecting to see is called ezlguilds.
I only found this yesterday and have only spent five mins looking at it, but I hope that helps.

[2015-03-11 13:26] cirodalex commented on #134
Ok, but in the admin->teams there are no php pages to create, edit or view
single team
Il 11/mar/2015 13:06 "zigstum" <notifications@github.com> ha scritto:

[2015-03-11 13:39] zigstum commented on #134
Teams are created by users, not by the admin in the admin control area.

[2015-03-11 15:01] cirodalex commented on #134
Ok, so I will try like user.
Thank you ;)
Il 11/mar/2015 14:39 "zigstum" <notifications@github.com> ha scritto:

[2015-03-19 23:05] nmetin commented on #134
hello,

I am testing out this script on my host.
I have the same problem in header.php with the timezone function.
I tried to change the timezone but I can't access this page.

I can access admin/settings.php?page=site
But admin/settings.php?page=site#site-timezone doesn't load

I did bypass the problem by removing some code out of header.php.
But now i am having problems elsewhere.

So how can I

[2015-03-21 20:47] #134 closed

[2015-03-21 20:47] stoopkid1 commented on #132
@Schamus i'll be release a fix for this by Sunday. thanks for pointing this out

[2015-03-21 20:48] #130 closed

[2015-03-24 10:31] zigstum opened #135 "view user in comments"
Bad address on view user link on a comment.
/tpls/news/news-comments.php, line 15:
---
`<a href="view-user.php?id=<?php echo $comment['author_id']; ?>">`
change to...
`<a href="view-member.php?id=<?php echo $comment['author_id']; ?>">`

[2015-03-29 19:11] zigstum commented on #127
The create season button is forthcoming..
Find the file ezl_install_folder/admin/tpls/leagues/season-create.php
At line 33 insert this:
<a href="leagues.php?page=create_season&id=<?php echo $league['id']; ?>" class="btn btn-success btn-xs">Create Season</a>
If you don't want to change code, you could navigate to the address above in your browser, and add the league id to the query yourself (?page=

[2015-04-02 13:08] bigbambu commented on #115
Hello!
Any news about this, I just re-installed the ezLeague but still the forum.php os missing the Forum link puts to no where #
Thank You

[2015-04-03 06:37] stoopkid1 commented on #115
@Dimtar @bigbambu
the ability to change the Forum URL in the navigation has been implemented https://github.com/stoopkid1/ezleague/pull/136

upgrade your installation to implement the new feature

[2015-04-03 06:38] stoopkid1 commented on #135
@zigstum
thanks for reporting this bug. i'll release an update with the corrected code.

[2015-04-03 06:52] stoopkid1 commented on #135
@zigstum
code update has been pushed https://github.com/stoopkid1/ezleague/pull/137

[2015-04-03 06:52] #135 closed

[2015-04-03 06:53] #115 closed

[2015-04-03 07:48] stoopkid1 opened #138 "include users real name on profile"
add the users' first and last name to their profile page

[2015-04-03 08:00] stoopkid1 commented on #138
implemented https://github.com/stoopkid1/ezleague/pull/139

[2015-04-03 08:00] #138 closed

[2015-04-03 08:17] stoopkid1 commented on #133
@agreements
dummy data is now available in the latest ezLeague update (version 3.4.3) https://github.com/stoopkid1/ezleague/pull/140

[2015-04-03 08:25] #133 closed

[2015-04-03 08:25] stoopkid1 commented on #131
@Linusscout i'll have this setting implemented within the next few days.

[2015-04-05 00:39] stoopkid1 commented on #132
@Schamus this bug has been fixed and released in the new 3.4.4 version of ezLeague. thanks for reporting it - https://github.com/stoopkid1/ezleague/pull/141

[2015-04-05 00:39] #132 closed

[2015-04-05 02:00] stoopkid1 commented on #131
@Linusscout your feature request has been implemented https://github.com/stoopkid1/ezleague/pull/142

[2015-04-05 02:00] #131 closed

[2015-04-05 02:41] stoopkid1 commented on #127
@DoctorWaffles @zigstum
creating a new season & modifying a seasons start/end/registration dates is already implemented:

Create new season:
![screenshot 2015-04-04 21 37 20](https://cloud.githubusercontent.com/assets/2205744/6995519/1a4884a8-db13-11e4-906d-2d900f35364a.png)

From the View All Leagues page, click on the League that you want to edit, or modify the season information:
![screenshot 2

[2015-04-05 06:32] stoopkid1 commented on #128
@Linusscout the forgot password feature has been implemented into ezLeague version 3.4.6 https://github.com/stoopkid1/ezleague/pull/143

[2015-04-05 06:32] #128 closed

[2015-04-07 04:36] stoopkid1 opened #145 "Tournament Feature"
Build Tournament feature into ezLeague

[2015-04-08 01:59] stevej891 opened #146 "Admin Issue ezleague"
after the update on a fresh install when i go to add user in admin it just shows a blank page

[2015-04-08 04:05] stoopkid1 commented on #146
@stevej891 are you clicking the "Run Database Upgrade" in the admin panel, or are you clicking the "run the update file" link at the top of the admin dashboard?

i'm trying to narrow down exactly how you updated. are you running v3.4.7?

[2015-04-08 04:11] stoopkid1 commented on #146
@stevej891 i just pushed a small update (v3.8.8).
`admin/upgrade.php`
`admin/header.php`
`header.php`
those 3 files were updated. try re-downloading and only replacing those 3 files. please let me know if this fixes (or doesn't fix) your issue

[2015-04-08 06:17] stevej891 commented on #146
i updated by clicking run database upgrade and also my version is 3.47 but
it still saying i need to update

On Wed, Apr 8, 2015 at 12:05 AM, Michael Loring <notifications@github.com>
wrote:

[2015-04-08 06:18] stevej891 commented on #146
not admin user its for regular user in the admin panel

[2015-04-08 06:33] stevej891 commented on #146
sorry didnt explain myself better

[2015-04-08 06:48] stevej891 commented on #146
i just updated the issue is still there it is under the admin panel when you go to users then you go to create account it is just a blank Page

[2015-04-08 16:09] stoopkid1 commented on #146
@stevej891 i never finished the "create account" page. only admin accounts can be created in the admin panel (site settings > admin users). non-admin users create their account from the main site (non-admin site).

closing this issue since there is no bug, but i do need to finish adding the "create user" feature at a later date

[2015-04-08 16:09] #146 closed

[2015-04-08 22:43] Shebastian commented on #145
types:
free registration
tickets
admin invites

(Tickets would put into the league - 1st Gold ticket 1-3 silver ticket (position on seasson)

[2015-04-09 02:29] stevej891 commented on #127
im having issues with this my season dates are staying at december 31 1969 ive tried updating this  3 times

[2015-04-09 06:03] stoopkid1 commented on #145
@Shebastian thanks for the suggestions, please keep them coming. i don't really follow/understand the "tickets" type, could you explain it a bit further? i like the idea of public/private tournaments (similar to admin invites), so i'll try to implement that.

all tournaments/leagues will be "free registration" -- i won't be implementing any sort of payment functionality in the free version of ezLe

[2015-04-09 06:09] stoopkid1 commented on #127
@stevej891 few questions to help me diagnose the bug...
have you set the Timezone setting in your admin panel?
have you made any News posts that are also showing the incorrect dates?
what timezone are you in?
do you know where your web server is located?

![screenshot 2015-04-09 01 07 16](https://cloud.githubusercontent.com/assets/2205744/7061258/d1129b80-de54-11e4-985b-a8c79129a65e.png)

[2015-04-09 09:15] bigbambu commented on #127
Hello!

On my server that is a VPS i found the following errors.
mod_fcgid: stderr: PHP Warning:  date(): It is not safe to rely on the system's timezone settings. You are *required* to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods and you are still getting this warning, you most likely misspelled the timezone identifier. We select

[2015-04-09 22:14] stevej891 opened #148 "Season Dates"
The dates for the league and season don't change making it where the registration is closed every time I try to update it it says susccesful but it dosent do anything it is stuck on December 31 1969

[2015-04-09 22:18] stevej891 commented on #148
Also can you email me about custom licensing thanks

[2015-04-10 01:46] stoopkid1 commented on #148
closing since this is a replica of https://github.com/stoopkid1/ezleague/issues/127

[2015-04-10 01:46] #148 closed

[2015-04-10 02:15] stoopkid1 commented on #127
@bigbambu have you set the timezone in your Admin Panel's Site Settings?
since you have a VPS, you can also try modifying your php.ini file, and adding:
`date.timezone = America/Chicago` be sure to restart your web server after modifying php.ini

[2015-04-10 02:26] stoopkid1 commented on #127
a possible fix has been pushed and merged into ezLeague (v3.4.9 https://github.com/stoopkid1/ezleague/pull/149). please let me know if this resolves your issue

[2015-04-10 05:09] stevej891 commented on #127
this still did not fix the issue i have reset it back too 3.4.9 still does
not work when i try to update although when i do that it set the date to
january 1 1970 instead of december 31 1969  lol dont know y

On Thu, Apr 9, 2015 at 10:26 PM, Michael Loring <notifications@github.com>
wrote:

[2015-04-10 05:10] stevej891 commented on #127
http://gyazo.com/cae3272064a8b1897b60a2335735147a

On Fri, Apr 10, 2015 at 1:09 AM, Stephen Jacobs <stevej891@gmail.com> wrote:

[2015-04-12 05:28] stoopkid1 commented on #127
@stevej891 would you be able to give me FTP access to your ezLeague install? i'd like to do some debugging since i can't replicate your date issue locally, or on my VPS.

my email is MDLoring[at]gmail.com

[2015-04-12 19:19] stevej891 commented on #127
sure

playercompete.com
esports
fishing91

On Sun, Apr 12, 2015 at 1:28 AM, Michael Loring <notifications@github.com>
wrote:

[2015-04-12 19:20] stevej891 commented on #127
its under playercompete.com/league

On Sun, Apr 12, 2015 at 3:19 PM, Stephen Jacobs <stevej891@gmail.com> wrote:

[2015-04-12 19:37] stoopkid1 commented on #127
@stevej891 thanks steve. i'll take a look shortly and let you know. i've deleted your previous post so its not public

[2015-04-12 19:42] zigstum commented on #127
It's still on the mail-list.
Maybe better to change pwd and resend in PM.

On 12 April 2015 at 20:37, Michael Loring <notifications@github.com> wrote:

[2015-04-12 19:44] stoopkid1 commented on #127
@zigstum yes absolutely. thanks zigstum.
@stevej891 please reset the password and PM me it, or email me it MDLoring[at]gmail.com

[2015-04-12 20:16] stevej891 commented on #127
ok thanks

On Sun, Apr 12, 2015 at 3:37 PM, Michael Loring <notifications@github.com>
wrote:

[2015-04-12 20:23] stevej891 commented on #127
i went ahead and emailed it to you Thanks

On Sun, Apr 12, 2015 at 4:16 PM, Stephen Jacobs <stevej891@gmail.com> wrote:

[2015-04-14 15:00] Dmitchell94 opened #150 "mysqli_fetch_assoc() error"
I run my own webserver and I have gotten ezleague installed but now it repeatedly displays:

Warning: mysqli_fetch_assoc() expects parameter 1 to be mysqli_result, boolean given in /home/forgewareinc/public_html/ogl/lib/class-db.php on line 46

How do i fix this?

[2015-04-14 15:09] zigstum commented on #150
https://github.com/stoopkid1/ezleague/issues/133
A previous post:

@agreements <https://github.com/agreements> ...once you create a news post,
that error will go away.

On 14 April 2015 at 16:00, Dmitchell94 <notifications@github.com> wrote:

[2015-04-14 15:15] Dmitchell94 commented on #150
It wont let me log in either though tells me invalid login when i use admin ezadmin

[2015-04-14 15:18] #150 closed

[2015-04-14 16:50] Dmitchell94 opened #151 "constant redirect"
just ran the installer this morning was about to delete the install.php file and now it wont stop trying to redirect me to the install file

[2015-04-14 18:36] Shebastian commented on #151
'/lib/db.class.php' A N D
'/admin/lib/db.class.php' and modify your site URL and database values

[2015-04-15 03:23] Dmitchell94 commented on #151
i already did that

[2015-04-16 21:36] Dmitchell94 commented on #151
any ideas whats causing the constant redirects

[2015-04-17 09:24] zigstum commented on #151
Not without looking at your setup.
Stuff like this is usually a simple mistake on config, or cookies not setting, or folders with bad permission.
You can follow the chain using firefox inspector and watch the header requests and responses in the net tab. You can mail me ezl[at]zigstum.com if you want some help. Don't send any passwords through the mail list.

[2015-04-18 04:09] stoopkid1 commented on #151
If you have properly installed ezleague, check to make sure the database /
tables have been created.

If they have been, then the install.php file should have been deleted. If
your MySQL config is correct, and the database/tables have been created, go
ahead and delete the install.php file.

On Fri, Apr 17, 2015 at 4:24 AM, zigstum <notifications@github.com> wrote:

--
Michael Loring
Lead Web Appli

[2015-04-23 05:39] stoopkid1 commented on #127
issue resolved https://github.com/stoopkid1/ezleague/pull/152

[2015-04-23 05:39] #127 closed

[2015-04-25 11:08] hraki commented on #145
I don't know if it's possible or not, but when its a tournament 1vs1, instead of the players need to create a team to join (like the league mode), why not being able to join as a member instead of needed to create a team

[2015-04-25 19:19] stoopkid1 commented on #145
@hraki i'll look into developing a feature like this. you're not the first person to suggest it -- so i know it's something that could be useful. when a user creates a team, they're automatically made the team admin, so a user could create a team and use their username as the team name.

there is really only 1 issue with 1v1 tournaments:
if a user is already in a team (lets say, for a Counter-Stri

[2015-04-26 20:42] stoopkid1 opened #153 "Admin Edit Teams"
Site Admins should be able to edit a team's name and their admin from within the backend admin panel

[2015-04-26 20:44] stoopkid1 opened #154 "Admin Create User"
admins should be able to create a new user from the admin panel

[2015-04-26 20:49] stoopkid1 commented on #145
tournament feature now implemented https://github.com/stoopkid1/ezleague/pull/155

[2015-04-26 20:49] #145 closed

[2015-04-27 02:11] stoopkid1 commented on #153
feature has been implemented
https://github.com/stoopkid1/ezleague/pull/156

[2015-04-27 02:11] #153 closed

[2015-04-27 05:28] stoopkid1 commented on #154
create user & create team implemented
https://github.com/stoopkid1/ezleague/pull/157

[2015-04-27 05:28] #154 closed

[2015-04-27 05:30] stoopkid1 opened #158 "Admin Add Team to League"
admins should be able to add a team to a league from the backend admin panel, similar to how admins can add teams to private tournaments

[2015-04-27 06:18] stoopkid1 commented on #158
feature has been implemented
https://github.com/stoopkid1/ezleague/pull/159

[2015-04-27 06:18] #158 closed

[2015-04-27 21:36] andyhay123 opened #160 "Install Issue"
Ive uploaded all the files to my web host then filled out the boxes on the install but when i click install it just refreshes the page and nothing happens

[2015-04-28 00:08] stoopkid1 commented on #160
@andyhay123
did you edit the `/lib/class-db.php` and `/admin/lib/class-db.php` files? you need to input your database information there.

[2015-04-28 00:12] andyhay123 commented on #160
Yeah i have done that then loaded the site up and it took me to the page to
fill out the ezleague installation form but when i fill it in and click run
installation it just reloads the page then nothing happens it creates all
the fields though in my sql

On Tue, Apr 28, 2015 at 1:08 AM, Michael Loring <notifications@github.com>
wrote:

[2015-04-28 00:12] stoopkid1 commented on #160
@andyhay123
please link me to your site

[2015-04-28 00:13] stoopkid1 commented on #160
@andyhay123 if you have Skype, my screenname is "RedCrestLoring"

[2015-04-28 00:17] stoopkid1 commented on #160
@andyhay123 what web host are you using? i just saw the error you sent me
`(Warning: mysqli::mysqli(): (42000/1203): User modernm6_andy already has more than 'max_user_connections' active connections in /home/modernm6/public_html/lib/class-db.php on line 26)` -- are you still receiving this error? this is the first of it's kind that has been reported

[2015-04-28 00:25] andyhay123 commented on #160
yeah im still getting that error im using x10hosting my website is
http://modernmafia.x10.mx/index.php

On Tue, Apr 28, 2015 at 1:17 AM, Michael Loring <notifications@github.com>
wrote:

[2015-04-28 00:30] stoopkid1 commented on #160
@andyhay123 there are a few updates i'm going to make in light of the error you're getting, but you need to contact your web hosting (reference: https://x10hosting.com/community/threads/new-error-max_user_connections-for-mysql.196025/)
it sounds like your web host temporarily disabled your accounts database access due to the amount of queries that are run when ezLeague installs.

[2015-04-28 00:31] andyhay123 commented on #160
Oh okay thanks for your help

On Tue, Apr 28, 2015 at 1:30 AM, Michael Loring <notifications@github.com>
wrote:

[2015-04-28 00:53] stoopkid1 opened #161 "Closing DB Connections"
be sure to close out any database connections once the task is completed

[2015-04-28 01:24] stoopkid1 commented on #161
feature implemented
https://github.com/stoopkid1/ezleague/pull/162

[2015-04-28 01:24] #161 closed

[2015-04-28 01:34] stoopkid1 commented on #160
an important update has been released regarding the `max_user_connections` issue that is mentioned above
https://github.com/stoopkid1/ezleague/pull/162

[2015-04-28 01:34] #160 closed

[2015-04-28 23:08] andyhay123 opened #163 "League issue"
Hi ive been trying to set up leagues through the admin panel but when i fill out the form it creates one but doesnt show up in the admin section named current league and it shows up on the site with dates 1970 i have changed my timezone so i dont know why its doing it

[2015-04-29 04:26] stoopkid1 commented on #163
Create a League, then Create a Season for that League. Once you've created
a Season, you can modify the Season Dates.

On Tue, Apr 28, 2015 at 6:08 PM, andyhay123 <notifications@github.com>
wrote:

--
Michael Loring
Lead Web Applications Engineer
The Chicago Sun-Times Media Company

President
Loring Enterprises

cell:         773 870 5442
http://www.mdloring.com

[2015-04-29 10:58] andyhay123 commented on #163
i dont have the option to create a season on my admin panel

[2015-04-29 18:59] hraki commented on #151
I tried a new installation and I have the same problem, is always redirecting to /admin/install.php

the tables are all created in DB, and if I delete the install.php it says the file don't existe (like it suppose to say) and don't let me see the /index.php only the admin painel

[2015-04-29 19:02] hraki commented on #151
Check the /lib/class-db.php and /admin/lib/class-db.php probably you have the  "var $prefix	  =ezl" with the prefix different on one

[2015-05-01 14:43] andyhay123 commented on #163
Can you help me when i create a league in the admin panel it just refreshes but does not add anything

[2015-05-01 16:49] hraki opened #164 "Tournament issues"
I found some issues with the tournament.

1- When you generate the bracket he only generate the first match (the top of the bracket) the others stay blank.

2- When you assign maps to the rounds, he only save the map you assign to Round 1 the other map round get blank

3- You can only have one tournament created, when you try to create a new one, he don't save it on DB

[2015-05-01 23:54] stoopkid1 commented on #164
do you see the other matches being created in the *tournament_matches*
 table?

i need to see your error log in order to know what's going on. the
tournament feature was pretty well tested.

pm me your site link / admin login details so i can see if there are any JS
errors visible

On Fri, May 1, 2015 at 11:49 AM, hraki <notifications@github.com> wrote:

--
Michael Loring
Lead Web Applications Eng

[2015-05-02 08:50] hraki commented on #164
I sent you an email with the details.

I test with a 1vs1 Tournament with 4 teams

Its like he don't generate new ID's for the table only have the 0
In the *tournament_matches* table I only see one match created

and if I create a second tournament he don't crate the tournament too in the *tournaments* table

[2015-05-03 11:20] labyad opened #165 "Request"
First of all congratulations the script is amazing!

I just want to say some ideas to make the script even better.

The first is for 1on1 leagues or tournaments the players can join with their username instead of create a team.

The second one is the possibility of the players can join more teams ( at least 2) because he can have a team to play a 5v5 tournament, but if the player wants to play a 2

[2015-05-03 19:27] stoopkid1 commented on #165
@labyad very happy to hear you're enjoying the script, and thank you for the suggestions. those are the type of features that i will be building into the licensed version of ezLeague, which has no release date set yet. right now i'm unsure if i'll be splitting the increased/new functionality into modules that can be purchased individually, or if everything will be bundled together.

regarding the

[2015-05-03 21:21] stoopkid1 commented on #164
@hraki thank you for reporting this issue. an upgrade patch has been released.
https://github.com/stoopkid1/ezleague/pull/166

[2015-05-03 21:21] #164 closed

[2015-05-05 21:53] labyad commented on #165
Thanks for the answer! Can't wait to see the new features!

oh and there is any chance to have the ELO Ladder challenge system on this last version? adding the ELO code of the v1 & v2 and the DB tables?

[2015-05-08 07:56] Warrior70uw opened #167 "Forums"
Firstly, i would like to thank you on a brilliant system.

I have had a play with it and love it sofar. The question i have, is are you planning on making a forum system that is compatible with this database so users would only have to register and signup once to both your system and the forum system?

[2015-05-08 17:39] stoopkid1 commented on #167
@Warrior70uw glad you're enjoying the script. yes, i actually have written a forum system that is built into ezLeague, but there were multiple requests to simply have it link to their 3rd party forum. i'll look into re-implementing the forum code in a future release.

the original forum included:
- topics
- replies
- post count
- user signatures
- public forums
- private forums (each team/guild ha

[2015-05-08 19:19] Warrior70uw commented on #167
This sounds exactly what i am after. I am looking at launching a new venture and this script with forums would be exactly what i am looking for.
Once the forums side of it has been released, i can then push this idea out and it will then really publisize your work on the script. I cant wait. Many thanks for getting back to me.

[2015-05-11 19:02] hraki opened #168 "Tournament matches issues"
I found a issue when you try to report a result of a match.

The match is created the players can accept the match details, and it shows to submit the score, you submit the score and the other team only have the option to submit the score (Instead of the accept or dispute) they only have the Submit button.

On admin panel in the Edit Match it appears both players have accepted (but they only submi

[2015-05-12 03:12] stoopkid1 commented on #168
@hraki scores can only be submitted once both teams have accepted the match details. once the match details have been accepted, then either team can submit the match score. it's not possible to submit a score if only 1 team has accepted the match details.

i'll modify the "match completion" functionality, but everything else is working as it was intended too.

there will not be an option for "wild

[2015-05-12 05:25] stoopkid1 commented on #168
@hraki some new functionality introduced based on your request. view the details here https://github.com/stoopkid1/ezleague/pull/169

[2015-05-12 18:21] hraki commented on #168
Thanks for the fix!

On the tournament matches the admin have to manually set match complete correct?

[2015-05-13 02:52] stoopkid1 commented on #168
@hraki if an admin modifies the match, it will be marked as completed when the score gets entered (new feature). if the admin resets the score to 0-0, it will re-open the status.

i'll look into adding tournament matches to "recent matches" on the sidebar.

make sure you run the database upgrade from the Admin panel. if you're missing `admin/upgrade.php`, re-download it, because new tables were cr

[2015-05-14 17:08] msdeliquent opened #170 "display problem"
when i wanted to install the script, the following lines appeared to me on screen:

Warning: Unexpected character in input: '\' (ASCII=92) state=1 in /home/sites/p/ps/pss/pssarena.za.pl/header.php on line 33 Warning: Unexpected character in input: '\' (ASCII=92) state=1 in /home/sites/p/ps/pss/pssarena.za.pl/header.php on line 33 Parse error: syntax error, unexpected T_STRING in /home/sites/p/ps/p

[2015-05-15 05:37] stoopkid1 commented on #170
@msdeliquent line 33 in `header.php` references the Codebird library that is used to display Twitter Tweets in the right sidebar. The library uses a method called "namespaces", which is only supported in PHP 5.3+. Check with your web host and see what PHP version they are running.

Assuming your web host has PHP 5.2 or below installed, remove your Twitter Handle from the Admin Panel > Site Setting

[2015-05-28 12:47] mazmol1 opened #171 "Redicting Page to Admin\install.php"
i have email you the files no passwords because on local host
(My Email Mahirsazmol@gmail.com)
(Sent to ezl@zigstum.com)

[2015-05-28 13:14] mazmol1 commented on #171
fixed

[2015-05-28 13:14] #171 closed

[2015-05-29 13:46] mazmol1 opened #172 "Inviting People to Guild doesnt not sent invite"

[2015-06-12 05:25] roofzera opened #173 "Start new tournament"
Unable to start new tournament. I fill in all the data, and does not insert the DB. Is there any solution?

[2015-06-12 05:45] stoopkid1 commented on #173
Tournaments cannot have matches generated until it has reached the max limit of teams signups.

Are you having trouble creating a new tournament? (creating via 'starting' are different)

[2015-06-12 06:06] roofzera commented on #173
@stoopkid1 Man, thank you for responding. I need much of your script to work in a Brazilian league.

When I click to create a new tournament, complete all fields with the required data, but adds nothing to the database, and not in the tournament list. And I can not put alloy subscription / open tournament. How to do?

[2015-06-18 10:22] msdeliquent commented on #173
same issue here, not only a tournament isimpossible to create but even a league and users cannot be registered :(

[2015-06-18 10:53] msdeliquent commented on #173
i don't know why, but the instalation script doesn't create tables in my database and i provide a good values in db.class files.

[2015-06-18 11:53] msdeliquent commented on #163
check phpmyadmin if script created any tables

[2015-06-18 11:54] msdeliquent commented on #170
ok problem solved, i moved to another hosting.

[2015-06-18 11:54] #170 closed

[2015-06-19 12:42] msdeliquent commented on #173
ok, my problem solved - f**k free hosts...

[2015-06-21 01:14] stoopkid1 commented on #172
@mazmol1 sorry for the late response. please register an account with Mandrill App (https://mandrillapp.com/login/?referrer=mdloring@gmail.com). once you create an account, enter your API key in your ezLeague Settings Admin Panel.

[2015-06-21 01:14] #172 closed

[2015-06-21 01:14] stoopkid1 commented on #168
closing.

[2015-06-21 01:14] #168 closed

[2015-06-21 01:15] #165 closed

[2015-06-21 01:15] #151 closed

[2015-06-21 01:15] #163 closed

[2015-06-21 01:15] #167 closed

[2015-07-01 19:49] Crandelz opened #174 "Installation issues"
Hi, today I found your project and look very interesting.

I installed it in my pc and I found this problems:

1. The instalation fail. The users were not automatic created, so I run the users db script manually and then installation work fine.
2. guilds table is empty. Error is returning because not current team can be readed.
I created a team guild table with id 8.

Resolved:
is not really an is

[2015-07-02 03:04] #174 closed

[2015-07-03 12:05] calibershock opened #175 "Login frmo the main website sending me to HTTP 404?"
Hello,

I'm trying out ur script from the download MASTER zip file for the 3.5.7

I've installed it on asite.

When I click the top right Login Tab next to Register, I enter in some details and click LOGIN button but it then redirects me to a HTTP 404 page? It's not allowing me to log in?

It takes me to mysite.com/index.html  ??
index.html? is that correct?

Thanks

[2015-07-03 14:21] calibershock opened #176 "Adding Teams into Leagues"
when I try add a team into a league - no teams show up.

For the Tournemants I am able to do this, but not for Leagues, why?

[2015-07-03 20:06] stoopkid1 commented on #176
@calibershock working on the fix for this now

[2015-07-03 20:07] stoopkid1 commented on #173
@msdeliquent glad this was resolved. yes, some free hosts have created numerous issues. it's tough to know all of their individual setups, so sorry you had problems getting started.

[2015-07-03 20:07] #173 closed

[2015-07-03 20:10] stoopkid1 commented on #175
@calibershock be sure to check your `lib/class-db.php` and `admin/lib/class-db.php` files to make sure the `$site_url` variable is set. you can also login to your Admin Panel > Site Settings > URL and make sure the URL is properly set.

i just did a fresh installation and did not experience the same problem.

[2015-07-03 20:41] stoopkid1 commented on #176
@calibershock this issue has been resolved. thank you for submitting it!
https://github.com/stoopkid1/ezleague/pull/177

[2015-07-03 20:41] #176 closed

[2015-07-04 23:05] calibershock opened #178 "Teams can't Register on Leagues or for Public Tournaments"
Title says it all.

I tried to do it via two teams I created and when I click Register to join the LEague or the Public Tournie it doesn't do anything.

[2015-07-04 23:20] calibershock opened #179 "Can't Generate Matches in Leagues, even with Season added and within date"
See Screen shot:
Can't Generate Matches in Leagues, even with Season added and within date.
As you can see, when I go to click dropdown box, it's empty, I can't generate any Matches.

![img_2074](https://cloud.githubusercontent.com/assets/13165611/8509706/90582f74-22ab-11e5-88b9-2686760054c6.JPG)
![img_2073](https://cloud.githubusercontent.com/assets/13165611/8509707/905d73a8-22ab-11e5-8b35-817469

[2015-07-05 03:54] stoopkid1 commented on #178
@calibershock i can't replicate your issue.

i registered a new account, then created a new team and was able to register for a brand new league. when you click register, there should be a popup modal confirming your registration. are you getting the popup?

[2015-07-05 03:58] stoopkid1 commented on #179
@calibershock try creating a new league without "unlimited" for the number of games (weeks) and max teams. i think this bug is specifically for "unlimited" games, which is a selection i need to remove (it's not possible to generate matches when the number of matches is unlimited).

[2015-07-05 08:32] calibershock commented on #179
Perfect, worked

[2015-07-05 08:33] calibershock commented on #178
No nothing pops up hmm

[2015-07-06 23:02] kgrayjr opened #182 "Install Issue"
Fresh install gave me some interesting database behavior.

All Admin functions work with no issues. However, when viewing the site I get the following error several times:

Warning: mysqli::mysqli(): (HY000/2002): Can't connect to local MySQL server through socket '/var/lib/mysql/mysql.sock' (2) in directory_path_removed/lib/class-db.php on line 27

Of course other errors pop up because the connec

[2015-07-06 23:26] kgrayjr commented on #182
Nevermind, noob mistake.

Missed one of the class_db.php files

[2015-07-06 23:27] #182 closed

[2015-07-07 11:59] calibershock commented on #178
I've tried my work computers and nothing pops up and on 3 different browsers.

[2015-07-07 12:04] calibershock opened #183 "Browser Compatability"
Works fine in Chrome and Firefox, not so good in Internet Explorer, but lets be honest, who uses Internet Explorer now days lol

[2015-07-09 06:46] stoopkid1 commented on #183
@calibershock since the ezLeague application is based on the Twitter Bootstrap framework, there is little to no support for IE8 and below...IE9 should be OK though

[2015-07-09 06:46] #183 closed

[2015-07-09 06:47] stoopkid1 commented on #179
@calibershock awesome, glad to hear it. i'm currently building a "Get Started" guide that should alleviate issues like this for new users. thank you for being patient.

[2015-07-09 06:47] #179 closed

[2015-07-09 06:49] stoopkid1 commented on #178
@calibershock i'll run some more testing on this issue and see what i find. the popup/modal that displays is generated via jQuery UI, which is why this issue is odd to me, but i'll do my best to replicate and get it fixed.

[2015-07-09 06:50] #175 closed

[2015-07-09 12:13] calibershock opened #185 "Suggestions for Future"
- Similar to the above tabs like, Members, About us... it would be nice to have:

- Downloads Tab (this is so teams can download the server cfg files for a game like counter strike)

- A Leagues Tab (although the League branches from the Left Navigation bar after clikcing the game, it can be useful for someone to click Leagues at the top and have alist of ALL leagues regardless of the game.

- A L

[2015-07-09 12:15] calibershock commented on #185
So the only thing the admin of the ezleague site will do on this ladder system is Generate the points to refresh 1-2 times per day.

[2015-07-09 12:23] hraki commented on #185
That would be great the only thing you need to change is the ladder points. Its better a ladder with ELO Rating system xD.

[2015-07-09 12:24] hraki commented on #185
And a auto accept result after 3 days. One player submit the result for a ladder

[2015-07-09 15:41] calibershock commented on #185
Yes with an Auto acceptance. Good point.

But, due to the developer being busy, everyone has a life lol,

If the developer can do this type of coding, or if the framework does allow this type of coding and outcome, then I would understand if it takes about 1 year to get this in order.

[2015-07-09 15:47] calibershock opened #186 "EzLeague + phpBB"
Is there a way that the EZLeague login data can be used into phpBB?

[2015-07-09 15:54] calibershock commented on #186
Would it be this https://www.phpbb.com/support/docs/en/3.0/kb/article/phpbb3-cross-site-sessions-integration/

Bareing in mind, I dont want login detaisl used from phpbb, I want login details used from ezleague.

If this is possible an easy, amazing.

[2015-07-11 00:26] stoopkid1 commented on #185
@calibershock @hraki

Downloads:
yes, something like this i should be able to implement into the free version

Ladder System:
the first 2 versions of ezLeague were based on an ELO Ladder system, but after so many requests to have Leagues/Tournaments, the entire Ladder system was removed. when the ladder system is re-implemented, it'll only be available in the Pro version.

Auto Acceptance:
i'll th

[2015-07-11 00:29] stoopkid1 commented on #186
@calibershock i'll take some time this weekend and see how difficult of an implementation this would be.

[2015-07-12 09:03] calibershock opened #187 "Recruitment page"
A team and player recruitment page would be amazing where players can post a section for advertising them selves looking for a team.  Same for team they can advertise looking for players. With fields like experience, gun choice, past teams, steam id, about me/us, website link.

[2015-08-05 14:24] liamcurry opened #188 "Old matches being deleted after new matches are generated"
Hi there,

I'm one of the founders of [dirtycups.gg](http://dirtycups.gg) where we've been running ezleague for our Dirty Bomb [summer leagues](http://ezl.dirtycups.gg).

We've run into an issue this past week where matches are being deleted. This apparently started happening after we generated new matches for week 3 (week 2 matches were being deleted).

Any idea what could be causing this, or whe

[2015-08-06 04:19] stoopkid1 commented on #188
@liamcurry i'll look into this issue for you immediately, thank you for reporting it. if you have any developers on staff, there is a `class-schedule.php` within `admin/lib/` if they would like to take a look at that, though nothing jumped out at me just now.

i'll run some tests and get back to you tomorrow evening

[2015-08-09 10:36] roberto722 commented on #160
The installation issue isn't still solved because i still that error...

[2015-08-09 12:27] roberto722 opened #189 "Install Issue"
Hi,
installing the latest relase i meet this problem because the install when i click on the button to install just refresh the page, and when i delete the install file i get this error in my homepage
![untitled](https://cloud.githubusercontent.com/assets/12681493/9154826/4d75ec38-3ea2-11e5-8edc-aa5a91fb5926.png)

I've already checked my database user,pass,and host so i cant understand where is th

[2015-08-21 20:08] wadie100 commented on #189
I get the exact same thing.
max_user_connections error-> are the connections of the script managed properly?

[2015-08-21 21:28] stoopkid1 commented on #189
@wadie100 @roberto722 if you're on a shared hosting platform, you need to contact them and ask about multiple mysql queries being fired.

the installer performs multiple table creations & insertions.

[2015-08-22 19:12] wadie100 commented on #189
Hi Michael,

Their answer was that I needed to check the code and 'reconnect' often enough... The code is too complex for me to know whether connections are maintained properly, or not. Their max user connections is set to 3 according to the error message

Kind regards

[2015-08-22 19:24] stoopkid1 commented on #189
@wadie100 can you link me to your site/installation? if you have phpMyAdmin, we can get you setup by importing the database. also, what shared hosting company are you using? i'll look into modifying the installation script, but i won't be able to do it immediately.

[2015-08-22 19:32] wadie100 commented on #189
Hi Michael,

the link to the installation is bedotal.esy.es

My site is hosted by hostinger.nl
I do have phpmyadmin. Is there a dump of the tables somewhere that I can
use to import?

Kind regards

On Sat, Aug 22, 2015 at 9:24 PM, Michael Loring <notifications@github.com>
wrote:

[2015-08-22 19:35] stoopkid1 commented on #189
@wadie100 yes, please send me an email: MDLoring[at]gmail.com and i'll get you the database structure

[2015-08-22 19:48] roberto722 commented on #189
Hi im using the same hoster, can u pls help me too ?

[2015-08-22 19:52] stoopkid1 commented on #189
@roberto722 send me an email and i'll provide you with the same SQL dump that i just passed along to wadie. you will need phpMyAdmin access to do this.

[2015-08-22 19:53] roberto722 commented on #189
Ok. Sure, i have acces to phpMyAdmin

[2015-08-23 00:56] stoopkid1 commented on #189
closing as this issue cannot be resolved due to the specific shared hosting mysql configuration that deals with limited mysql connections

[2015-08-23 00:56] #189 closed

[2015-08-26 22:00] wadie100 opened #190 "Upublish News and then Publish again not working"
I was testing the news feature. I created a new News item and afterwards I edited it to unpublish it. That worked well.

But now I am trying to publish that news item again, but it remains a draft and is not visible on the site anymore, even after making a modification to it

[2015-08-26 22:27] wadie100 opened #191 "/admin/teams_view.php was not found on this server"
When logged in in the admin mode, I get the above error when tryingto look at teams that are registered in the league. Either clicking the match details or the view team button, both give this same error